#sign{
    padding: 10px;
    border: 0ch;
}

#quantity-number{
    padding: 8px;
}
#sign{
    padding: 20px;
    border: 0ch;
}

#quantity-number{
    padding: 8px;
}

#total{
    border-collapse: collapse;
}

